{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": false,
    "react/display-name": false,
    "no-console": "warn"
  }
}
