@import '~antd/dist/antd.css';
body {
    color: #000;
}
.actionIcon {
    color: #476ad6;
}
.actionIcon:hover {
    color: #ff7a34;
}

.ant-card-head {
    padding: 0 15px !important;
}

.ant-table * {
    font-size: 12px;
}


body .ant-tabs-nav-wrap {
    height: 42px;
}

body .ant-tooltip-inner {
    white-space: normal;
    word-break: break-all;
    max-width: 350px;
}

body .pandora-tag-namespace .ant-tag {
    height: auto; line-height: 1.4;
    padding-top: 2px;
    padding-bottom: 2px;
}

body .pandora-tag-namespace .ant-tag-text {
    word-break: break-all;
    white-space: normal;
    height: auto;
}
