@import '~antd/dist/antd.css';
body {
    color: #000;
}
.actionIcon {
    color: #476ad6;
}
.actionIcon:hover {
    color: #ff7a34;
}

.ant-card-head {
    padding: 0 15px !important;
}

.ant-table * {
    font-size: 12px;
}


body .ant-tabs-nav-wrap {
    height: 42px;
}
