@import '~antd/dist/antd.css';
body {
    color: #000;
}
.actionIcon {
    color: #476ad6;
}
.actionIcon:hover {
    color: #ff7a34;
}

.ant-card-head {
    padding: 0 15px !important;
}

.ant-table * {
    font-size: 12px;
}


body .ant-tabs-nav .ant-tabs-tab {
    height: auto;
}

body .ant-tooltip-inner {
    white-space: normal;
    word-break: break-all;
    max-width: 350px;
}

body .pandora-tag-namespace .ant-tag {
    height: auto; line-height: 1.4;
    padding-top: 2px;
    padding-bottom: 2px;
}

body .pandora-tag-namespace .ant-tag-text {
    word-break: break-all;
    white-space: normal;
    height: auto;
}

body .ApplicationPageSide {
    position: relative;
    min-height: 100vh;
}
body .ApplicationPageSide .ant-layout-sider-children {
    height: 100%; width: 100%;
    position: absolute; right: 0; top: 0;
}

.trace-container-pandora .ant-table {
    font-size: 13px;
}
.trace-container-pandora .ant-table .ant-table-thead > tr > th,
.trace-container-pandora .ant-table .ant-table-tbody > tr > td {
    padding: 16px 10px;
}

.pandoraTagWrapper::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px;
}
.pandoraTagWrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

